<%- include('layouts/header') %>

<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <% if (message) { %>
            <div class="alert alert-dismissible fade show alert-<%= message.type %>" role="alert">
                <button class="btn-close" type="button" data-bs-dismiss="alert" aria-label="Close"></button>
                <strong><%= message.message %></strong>
            </div>
            <% } %>
            
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white text-center">
                    <h4>Lista de Productos</h4>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover text-center align-middle my-2">
                            <thead class="table-dark">
                                <tr>
                                    <th>#</th>
                                    <th>Imagen</th>
                                    <th>Artículo</th>
                                    <th style="max-width: 250px;">Descripción</th>
                                    <th>Stock</th>
                                    <th>Precio</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% productos.forEach((producto, index) => { %>
                                <tr>
                                    <td><%= ++index %></td>
                                    <td><img src="<%= producto.imagen %>" width="50" class="img-thumbnail rounded"></td>
                                    <td><%= producto.articulo %></td>
                                    <td class="text-truncate" style="max-width: 250px;" title="<%= producto.descripcion %>">
                                        <%= producto.descripcion %>
                                    </td>
                                    <td><%= producto.stock %></td>
                                    <td>$<%= producto.precio %></td>
                                    <td class="justify-content-center">
                                        <a href="/editar/<%= producto._id %>" class="btn btn-sm btn-warning me-2">
                                            <i class="fa fa-edit"></i>
                                        </a>
                                        <a href="/eliminar/<%= producto._id %>" class="btn btn-sm btn-danger">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('layouts/footer') %>
